* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
}

/* header text */

.header {
    background-image: url(../images/banner/banner1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
}

.container {
    width: 85%;
    margin: 0 auto;
}

.hero-content {
    text-align: right;
}

.header-title {
    font-weight: 700;
    font-size: 65px;
    color: #151414;
}

.header-description {
    font-weight: 400;
    font-size: 16px;
    width: 500px;
    margin-left: auto;
    margin-top: 30px;
    margin-bottom: 20px;
}

.btn-primary {
    background: #F15B22;
    border-radius: 5px;
    border: 0;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
    padding: 10px 15px;
}

/* section failure */

.failure {
    display: flex;
    gap: 90px;
    background-color: white;
    margin: 140px 230px;
}

.failure-title {
    font-weight: 700;
    font-size: 40px;
    margin-left: 10px;
    padding-top: 210px;
    padding-bottom: 20px;
}

.failure-description {
    font-weight: 400;
    font-size: 16px;
    padding-left: 10px;
    padding-bottom: 15px;
}

.failure-list {
    display: list-item;
    list-style: none;
}

.y-failure {
    padding-top: 15px;
    font-weight: 400;
    font-size: 15px;
    list-style: none;
    padding-left: 20px;
}

/* my plans styles */

.my-plans {
    margin-top: 145px;
    margin-bottom: 50;
    text-align: center;
    margin: 0 230px 120px;
}

.mp-title {
    text-align: center;
    margin-bottom: 50px;
}

.skill-container {
    display: flex;
    gap: 80px;
}

.skill-title {
    font-weight: 700;
    font-size: 30px;
    text-align: center;
}

.skill-description {
    font-weight: 500;
    font-size: 25px;
    color: #737272;
    padding-top: 16px;
}

/* motivation styles */

.motivation {
    background-repeat: no-repeat;
    margin-left: 230px;
    margin-right: 230px;
    padding: 0px 600px 0px 64px;
    height: 300px;
    background-image: url(../images/watch.png), linear-gradient(90deg, #f0571baf 0%, rgba(241, 91, 34, 0) 100%);
    border-radius: 8px;
    background-blend-mode: overlay;
}

.motivation-title {
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    padding-top: 70px;
}

.btn-secondary {
    background: #FFFFFF;
    border-radius: 5px;
    border: 0;
    padding: 10px 15px;
    font-weight: 600;
    font-size: 20px;
    color: orangered;
    text-align: center;
    margin-top: 20px;
}

/* footer styles */


.footer {
    background: #151414;
    color: #F8F8F8;
    padding: 138px 0;
    margin-top: 130px;
}

.footer-wrap {
    display: flex;
    justify-content: space-between;
}

.footer-info {
    margin-top: 10px;
    margin-bottom: 32px;
}

.footer-div1 {
    width: 475px;
    padding-left: 120px;
}

.footer-title1 {
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 16px;
}

.footer-description1 {
    margin-bottom: 24px;
}

.footer-div2 {
    width: 280px;
    padding-right: 100px;
}

.footer-title2 {
    margin-bottom: 15px;
}

img {
    border-radius: 50%;
}

input {
    border: 0;
    margin-top: 30px;
    height: 50px;
    text-align: left;
}

.social a{
    text-decoration: none;
}